@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,900&display=swap");
/*----------------RESET--------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

/*------------------Grilla------------------*/
.grid-contenedor {
  display: grid;
  grid-column-gap: 10% 10% 10% 10%;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

/* Estilos generales */
p {
  color: #412C25;
  font-size: 18px; }

h1 {
  color: #412C25; }

button {
  padding: 10px;
  width: 230px;
  border: 1px solid #412C25; }

.content {
  display: flex;
  flex-direction: column;
  text-align: center; }

/** VARIABLES **/
/** VARIABLES **/
/*----------------HEADER----------------------*/
header {
  grid-area: header;
  color: #412C25;
  font-size: 14px; }
  header .container-fluid {
    background-color: white;
    width: 90%; }
  header .navbar-brand .logoheader {
    width: 150px;
    height: auto;
    border-radius: 50px;
    opacity: 1;
    background-color: #ffffff; }
  header .navbar-nav {
    display: flex;
    flex-grow: 1; }
    header .navbar-nav .nav-item {
      flex-grow: 1;
      margin-left: 5%; }
      header .navbar-nav .nav-item a {
        font-weight: bolder;
        color: #000000; }
  header a.nav-link:hover {
    color: #FAA51A; }
  header a.dropdown-item:hover {
    background-color: #fa861a; }

/** VARIABLES **/
/* Estilos del Main */
main {
  /**----------------------------------------MAIN INDEX------------------------ **/
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  grid-area: main;
  background-color: #ffff;
  margin: 0 auto;
  /* Index - Muebles */
  /* Index -Ambientaciones */
  /* Index - Deco */
  /* Index - Proyectos a medida */
  /* Index - Café */
  /**----------------------------------------MAIN SOBRE NOSOTROS------------------------ **/
  /**----------------------------------------MAIN MUEBLES------------------------ **/ }
  main .hero .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 90%;
    position: relative;
    margin: 0 auto; }
    main .hero .parallax .carousel-item {
      background-color: black;
      align-items: center;
      /* Centra horizontalmente */
      justify-content: center; }
      main .hero .parallax .carousel-item .heroH1 {
        color: #e4e4e4;
        font-size: 70px;
        font-weight: 500;
        left: 12%;
        position: absolute;
        text-align: left;
        top: 25%;
        z-index: 1001;
        text-shadow: #000000 0.1em 0.1em 0.2em; }
      main .hero .parallax .carousel-item img {
        opacity: 0.5;
        width: auto;
        height: 100vh;
        /* Ajusta el alto de la imagen */
        object-fit: cover; }
  main .sobrenosotros {
    padding: 5% 15%;
    margin-top: 2%;
    background-color: #F5EAD4;
    gap: 20px;
    height: auto;
    /* En lugar de una altura fija, usa auto para que se ajuste al contenido */
    margin-left: 5%;
    margin-right: 5%;
    /* width: 90%; */
    /* No es necesario si usas margen izquierdo y derecho */ }
    main .sobrenosotros p {
      color: #7b421b;
      font-weight: bolder;
      text-align: justify; }
    main .sobrenosotros .title {
      color: #7b421b; }
    main .sobrenosotros .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
    main .sobrenosotros .conocenosbtn {
      border-radius: 14px;
      background-color: #7b421b;
      color: #F5EAD4;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      padding: 10px 20px;
      border: none;
      cursor: pointer; }
  main .muebles {
    margin-top: 2%;
    padding: 3% 15%; }
    main .muebles h2 {
      margin-bottom: 3%;
      color: #7b421b; }
    main .muebles .carousel-inner .carousel-item {
      position: relative;
      background-color: black; }
      main .muebles .carousel-inner .carousel-item img {
        opacity: 0.6; }
      main .muebles .carousel-inner .carousel-item .carousel-text {
        margin-bottom: 45%;
        margin-left: 50%;
        font-weight: bolder;
        text-shadow: #000000 0.1em 0.1em 0.2em;
        transform: translate(-50%, -50%);
        font-size: 40px; }
      main .muebles .carousel-inner .carousel-item .button {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration-color: black;
        margin-bottom: 15%; }
    main .muebles .descubribtn {
      border-radius: 20px;
      background-color: white;
      color: #7b421b;
      /* Cambia el color del texto aquí */
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bolder;
      cursor: pointer; }
    main .muebles .descubribtn:hover {
      background-color: #f0f0f0;
      /* Puedes agregar estilos adicionales para el estado hover del botón aquí */ }
  main .ambientaciones .title {
    color: #7b421b;
    margin-top: 2%; }
  main .ambientaciones .card-group-ambientaciones {
    gap: 20px;
    padding: 2% 5%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main .ambientaciones .card-group-ambientaciones .card {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
      flex-basis: calc(33.333% - 20px);
      margin-bottom: 20px; }
      main .ambientaciones .card-group-ambientaciones .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      main .ambientaciones .card-group-ambientaciones .card img {
        max-width: 100%;
        height: auto;
        opacity: 1; }
      main .ambientaciones .card-group-ambientaciones .card .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; }
      main .ambientaciones .card-group-ambientaciones .card .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #faa51a;
        color: white;
        border: none;
        border-radius: 0 0 10px 10px;
        transition: background-color 0.3s ease;
        cursor: pointer; }
        main .ambientaciones .card-group-ambientaciones .card .btn:hover {
          background-color: #593527; }
  main .ambientaciones .divider {
    border-top: 2px solid #7b421b;
    width: 70%;
    margin: 10px auto; }
  main .section_deco {
    background-color: #CF5D20; }
    main .section_deco .card_deco {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 2%;
      margin: 2% 15%; }
    main .section_deco .img_deco img {
      width: 400px;
      height: 500px;
      opacity: 1; }
    main .section_deco .text_deco {
      text-align: center;
      justify-content: center;
      color: #fff;
      margin-left: 5%; }
      main .section_deco .text_deco .p_deco {
        padding: 20% 5%;
        color: #fff; }
      main .section_deco .text_deco .card_deco_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #412C25;
        background-color: #F5EAD4;
        padding: 5px;
        width: 200px;
        margin-left: 35%; }
  main .card_proyectos {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    margin: 2% 15%; }
  main .text_proyectos {
    text-align: center;
    justify-content: center;
    color: #412C25;
    margin-right: 5%; }
    main .text_proyectos h3 {
      color: #7B421B; }
    main .text_proyectos .p_proyectos {
      padding: 20% 5%;
      color: #412C25; }
    main .text_proyectos .card_proyectos_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #7B421B;
      padding: 5px;
      width: 200px;
      margin-left: 30%; }
  main .img_proyectos img {
    width: 400px;
    height: 500px;
    opacity: 1; }
  main .img-dos {
    background-image: url("https://img.freepik.com/foto-gratis/taza-cafe-disposicion-mujeres-textura-madera_1150-12747.jpg?w=996&t=st=1695941139~exp=1695941739~hmac=71a888c7f9115c4934566ec941f9ec61d545e5fa482c061d8e18866e259ef46d"); }
  main .principal_sobre_nosotros {
    color: black;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center; }
  main .imagenes_sobre_nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; }
    main .imagenes_sobre_nosotros .sobre_nosotros_img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 50px; }
      main .imagenes_sobre_nosotros .sobre_nosotros_img img {
        max-width: 700px;
        height: auto; }
    main .imagenes_sobre_nosotros .bienvenidos-text {
      text-align: justify;
      width: 80%;
      max-width: 1200px; }
      main .imagenes_sobre_nosotros .bienvenidos-text p {
        color: #000000;
        margin-bottom: 50px; }
  main .principal_muebles {
    color: black;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center; }
  main .seccion_muebles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
    main .seccion_muebles .imagen_mueble_principal {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: auto;
      margin-bottom: 100px;
      align-items: center; }
      main .seccion_muebles .imagen_mueble_principal img {
        height: auto;
        width: 80%; }
  main .grupo_muebles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-bottom: 30px; }
    main .grupo_muebles .muebles_img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 80%; }
      main .grupo_muebles .muebles_img div {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: box-shadow 0.3s ease; }
        main .grupo_muebles .muebles_img div img {
          width: 100%;
          max-width: 600px;
          height: 900px;
          object-fit: cover; }
        main .grupo_muebles .muebles_img div .mueble-text {
          margin-top: 20px;
          text-align: center;
          font-size: 16px;
          color: #333; }
        main .grupo_muebles .muebles_img div .mueble-description {
          display: none; }
      main .grupo_muebles .muebles_img div:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative; }
  .modal-content .modal-container {
    display: flex; }
  .modal-content .modal-image {
    flex: 1;
    max-width: 50%;
    padding: 10px; }
  .modal-content .modal-text {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column; }
  .modal-content .modal-text p {
    margin-top: 20px;
    margin-bottom: 10px; }
  .modal-content img {
    height: 400px;
    max-width: 80%;
    display: block;
    margin: 0 auto; }

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer; }

.close:hover,
.close:focus {
  color: #333; }

.modal,
.modal-content {
  transition: 0.3s; }

/**----------------------------------------LOGO FLOTANTE------------------------ **/
.fixed {
  position: fixed;
  right: 4%;
  bottom: 15%; }

.fixed a {
  display: block;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 100px;
  transition: background-color 0.3s;
  text-align: center;
  line-height: 100px; }

.fixed a:hover {
  background-color: #128c7e; }

.fixed img {
  width: 70px;
  height: auto; }

/** VARIABLES **/
/*-----------------------------FOOTER---------------------------*/
footer {
  display: flex;
  flex-direction: column;
  position: static;
  grid-area: footer;
  background-color: #CF5D20;
  color: #EDEDED; }
  footer .grupo-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5%; }
    footer .grupo-1 .box {
      display: flex;
      align-items: center;
      padding: 20px; }
      footer .grupo-1 .box a .img_box {
        width: 150px; }
    footer .grupo-1 .box_1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 5px; }
      footer .grupo-1 .box_1 .showroom,
      footer .grupo-1 .box_1 p {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5px;
        color: #fff;
        text-align: center; }
      footer .grupo-1 .box_1 .redes a {
        padding: 0px 20px;
        justify-content: space-evenly; }
        footer .grupo-1 .box_1 .redes a img {
          opacity: 1; }
      footer .grupo-1 .box_1 .servicios a {
        text-decoration: none;
        color: #EDEDED; }
      footer .grupo-1 .box_1 .contacto {
        display: flex;
        flex-direction: column; }
        footer .grupo-1 .box_1 .contacto a {
          text-decoration: none;
          color: #EDEDED; }

/*--------------------------------MEDIA QUERIES--------------------*/
@media screen and (max-width: 768px) {
  main .muebles .carousel .carousel-inner .carousel-item .carousel-caption .carousel-text {
    font-size: 30px;
    margin-bottom: 40%; }
  main .muebles .carousel .carousel-inner .carousel-item .carousel-caption .descubribtn {
    width: 150px;
    padding: 8px 20px;
    font-size: 15px; }
  main .card-group-ambientaciones {
    flex-direction: column; } }
