@import "../base/variables";

/*-----------------------------FOOTER---------------------------*/
footer {
    display: flex;
    flex-direction: column;
    position: static;
    grid-area: footer;
    background-color: #CF5D20;
    color: #EDEDED;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;

    .grupo-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5%;

        .box {
            display: flex;
            align-items: center;
            padding: 20px;

            a {
                background-color: #CF5D20;

                .img_box {
                    width: 200px;
                }
            }
        }

        .box_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 5px;
            margin-top: 3%;
            font-size: 16px;

            .title_box_1 {
                font-size: 30px;
                margin-bottom: 30px;
            }

            .contacto {
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: #EDEDED;
                    margin-bottom: 30px;
                    font-size: 18px;

                    img {
                        opacity: 1;
                        width: 30px;
                    }
                }
            }
        }

        .box_2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 5px;
            margin-top: 3%;
            text-align: center;

            .title_box_2 {
                font-size: 30px;
            }

            .p_box_2 {
                margin-top: 30px;
                color: #EDEDED;
                font-size: 16px;
            }
        }
    }
}