@import "../base/variables";

/*-----------------------------FOOTER---------------------------*/
footer {
    display: flex;
    flex-direction: column;
    position: static;
    grid-area: footer;
    background-color: #CF5D20;
    color: #EDEDED;
    width: 90%;
    margin: 0 auto;

    .grupo-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5%;

        .box {
            display: flex;
            align-items: center;
            padding: 20px;

            a {
                background-color: #CF5D20;

                .img_box {
                    width: 200px;
                }
            }
        }

        .box_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 5px;
            margin-top: 3%;
            font-size: 16px;
            text-align: center;

            h2 {
                font-size: 30px;
            }

            .showroom {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    padding: 10px 5px;
                    color: #fff;
                    text-align: center;
                }

                h3 {
                    font-size: 30px;
                }
            }

            .redes {
                margin-bottom: 30px;

                a {
                    padding: 0px 20px;
                    justify-content: space-evenly;

                    img {
                        opacity: 1;
                    }
                }
            }

            .servicios a {
                text-decoration: none;
                color: #EDEDED;
            }

            .contacto {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: #EDEDED;
                }
            }
        }
    }
}